.button-box{
    width: 100%;
    padding-top: 20vh;
    flex-direction: column;
    margin-bottom: 20px;
}

.button-box a{
    width: 40%;
    margin: auto;
    margin-top: 10px;
}

.home{
    height: 100vh;

    background-image: url("../../../public/Images/home.jpg");
    background-size: cover;
    /* Ensures the image covers the entire background */
    background-repeat: no-repeat;
    /* Prevents image repetition */
    background-attachment: fixed;
    /* Fixes the background image, so it doesn't scroll with the content */
    background-position: center center;
    /* Centers the image horizontally and vertically */
}