.signup{
    color: white;
    width: 80%;
    background-color: rgba(90, 90, 87, 0.5);
    border-radius: 30px;
    text-align: center;
    padding: 20px;
}

.signup input{
    width: 70%;
    border-radius: 30px;
    background-color: rgb(213, 222, 254);
    margin: auto;
    margin-top: 10px;
}

.eye-icon{
    position: absolute;
    right: 16%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: black;
}

.signup button{
    width: 160px;
    border-radius: 30px;
    margin-top: 10px;
    background-color: rgb(2, 2, 71);
    border: none;
}

.signup button:hover{
    background-color: rgb(1, 1, 48);
}

.error-text{
    font-size: 20px;
    color: rgb(185, 4, 4);
}

