/* .signin{
    margin: auto;
    width: 100%;
    padding-top: 0;
    height: 89vh;
    background: linear-gradient();
}

.user-details{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    margin-bottom: 20px;
}

.box{
    padding-top: 20px;
    background-color: rgba(168, 168, 168, 0.5);
    text-align: center;
    border-radius: 10px;
}

.user-details input{
    width: 80%;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
}

.forgot-password{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.forgot-password a{
    color: rgb(97, 2, 160);
}

.user-details button{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    background-color: rgb(97, 2, 160);
}

.user-details button:hover{
    background-color: rgb(75, 2, 123);
}

.new-user-register{
    width: 64%;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.new-user-register p{
    color: white;
    background-color: rgb(97, 2, 160);
}

.new-user-register a{
    color: rgb(97, 2, 160);
    
}

 */

.signin{
    height: 89vh;
}

.signin-right{
    height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-image: url("../../../public/Images/background2.jpg");
    background-size: cover;
    /* Ensures the image covers the entire background */
    background-repeat: no-repeat;
    /* Prevents image repetition */
    background-attachment: fixed;
    /* Fixes the background image, so it doesn't scroll with the content */
    background-position: center center;
    /* Centers the image horizontally and vertically */
}

.signin-right h1{
    color: rgb(255, 255, 255);
}

.signin-right a{
    width: 50%;
    border-radius: 30px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
}

.signin-right a:hover{
    background-color: rgb(198, 194, 194);
    color: black;
}




.signin-left{
    height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.signin-left h1{
    color: rgb(2, 11, 45);
}

.signin-left input{
    width: 350px;
    border-radius: 30px;
    background-color: rgb(171, 189, 255);
    margin: auto;
    margin-top: 10px;
}

.signin-left button{
    width: 160px;
    border-radius: 30px;
    background-color: rgb(2, 11, 45);
    margin-top: 10px;
}

.signin-left button:hover{
    background-color: rgb(0, 0, 0);
}